body {
  background-color: #010101;
  margin: 0px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans","sans-serif","Montserrat";
}

.gap-20 {
  width: 100%;
  height: 20px;
}

.gap-10 {
  width: 100%;
  height: 10px;
}
/* icons */

.fab {
  font-size: 48px;
  opacity: 60%;
}
.fab:hover {
  opacity: 100%;
}
.fa-linkedin {
  color: #2867B2;
}
.fa-github {
  color:inherit;
}
.fa-codepen {
  color:inherit;
}
.headarrow {
  color: #1b1b1b;
  font-size: 30px;
}

/* header */
header {
  background-size: 100%;
  text-align: center;
  background-color: rgb(27, 27, 27);
  width: 100%;
}
.header-text {
  margin-top: 0;
  font-size: 1.5rem;
}
.secondHeading {
  font-family: "Montserrat";
  font-size: 80%;
}

.vertical-line {
    height: 2px;
    background-color: #fff;
    margin: 0 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.socialIcons a {
  text-decoration: none;
  margin: 0px 5px;
}

.headNav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  background-color: white;
  width: 100%;
  border-radius: 11px;
  font-size: 20px;
  padding: 6px;
  margin: 5px 20%;
  align-items: center;
  text-decoration: none;
  color: black;
  opacity: 0.8;
  transition: 0.15s ease-in;
}
.button:hover {
  transform: scale(1.1);
  opacity: 1;
}
.sectionHead {
  text-align:left;
}
/* main */

main {
  line-height: 1.4;;
}
.mainbody {
  margin: 5% 5%;
}

.staticHead {
  background-color: rgba(255, 255, 255, 0.1);
  height: 50px;
  width: 100%;
  z-index: 2;
}
.staticHead {
  position: -webkit-sticky;
  position:sticky;
  top: 0px;  
}
.staticHead ul {
  margin: 0px;
  padding-top: 8px;
  display: flex;
  flex-flow: row wrap;
  padding-inline-start: 2%;
  padding-inline-end: 2%;
}
.staticHead ul li {
  margin: auto;
  list-style: none;
  border-radius: 6px;
  font-size: 1rem;
}
.staticHead ul li a {
  text-decoration: none;
  color: #1b1b1b;
  }
  
.staticHead:hover {
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 2;
}
.staticHead:hover > #stickyBar a , .staticHead:hover .headarrow  {
  color: black;
}
staticHead:hover > .staticHead i {
  color: rgba(187, 22, 22, 0.85);
}
.staticHead ul li:hover:not(:first-child) {
  box-shadow: inset 0px 0px 5px 3px rgba(90, 90, 90, 0.3), 0px 0px 5px 3px rgba(90, 90, 90, 0.3);
}
.staticHead ul li a:hover {
  color: black;
}


.sectionBox {
  width: 100%;
  height: 100%;
  margin: 5px;
  padding: 5px;
  border-radius: 13px;
}
.sectionBox:hover {
  box-shadow: inset 0px 0px 60px 200px rgba(110, 67, 107, 0.175), 0px 0px 60px 45px rgba(110, 67, 107, 0.175);
}
.sectionPic {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 80%;
  box-shadow: 0 0 8px 8px #010101 inset;
  border-radius: 60%;
  transition: 2s ease-in;
}
.sectionPic:hover {
  transform: scale(1.2)
}
#aboutme {
  padding: 24px 0px 0px 0px;
  margin: -24px 0px 0px 0px;
}

#contact nav li a{
  color: inherit;
}
#contact nav li a:hover{
  color: white;
}
/* footer */

.vertical-line2 {
  height: 2px;
  background-color: #fff;
  margin: 0 2%;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  padding: 0px;
  margin-bottom: 15px;
}

footer ul {
  padding-left: 0px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  list-style-type: none;
}

footer ul li {
  margin: 0px 30px;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
.toTop:hover {
  font-weight: bolder;
  transform: scale(1.1);
  
}
