header {
  text-align: center;
  background-color: rgb(27, 27, 27);
  font-size: 1.5rem;
}

.header__sub-title {
  font-family: "Montserrat";
  font-size: 80%;
}

.header__line {
  margin: 0 20%;
}

.header__social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
}

.header__social-icons a {
  text-decoration: none;
  margin: 0px 10px;
  font-size: 48px;
  opacity: 60%;
}

.header__social-icons a:hover {
  opacity: 100%;
}
