.nav-top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-top__button {
  background-color: white;
  width: 100%;
  border-radius: 11px;
  font-size: 20px;
  padding: 6px;
  margin: 5px 20%;
  align-items: center;
  text-decoration: none;
  color: black;
  opacity: 0.8;
  transition: 0.15s ease-in;
}
.nav-top__button:hover {
  transform: scale(1.1);
  opacity: 1;
}
