body {
  background-color: #010101;
  margin: 0px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans", "sans-serif", "Montserrat";
}

main {
  line-height: 1.4;
  margin: 5% 5%;
}

.unstyled-list {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}
